{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 9"]
      },
      "modules": false,
      "corejs": "3",
      "useBuiltIns": "usage"
    }]
  ],
  "comments": false
}