node_modules
.vscode
dist
build
release
*.project
*.prefs
android/RCUniIM/.gradle/
android/RCUniIM/.idea/
android/RCUniIM/local.properties
android/android_uniim/.idea/
.DS_Store
.gradle
package-lock.json
